.header{
    background-color: #042f97;
    width: 100%;
    height: 65px;
}
.header-2{
    background-image: url('../../assets/Login/pattern.jpg');
    width: 100%;
    height: 250px;
    margin-bottom: -50px;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-weight: 300;
}
.layer {
  /* background-color: rgba(16, 56, 105, 0.7); */
    background: linear-gradient(to right,#032e97 0%,#169fbf 100%);
    opacity: 0.65;
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
}

.header-2-title{
    font-family: Roboto;
    position: relative;
    margin-bottom: 100%;
    margin-top: 70px;
    margin-left:-140px;
    font-style: normal;
    font-stretch: normal;
    font-size: 34px;
    height: 24px;
    font-weight: 300;
    line-height: 2.68;
}

.container-fluid{
    background-color: #f2f3f5;
}

.bills{
    height: 500px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

.form-spacing{
    padding: 10px;
    margin: 10px;
}

input,.form-group button{
    border: 0;
    background: transparent;
    border-bottom: 1px solid black;
    outline:0;
    border-radius: 0;
}

input, .form-control{
   color: rgba(0, 0, 0, 0.85);
   text-align: left;
   font-weight: 500;
   font-size: 14px;
 }

.lbllanguage {
  color: rgba(0, 0, 0, 0.85);
}

.titleRow {
  background-color: #e2e7f0;
}

.titleHeader {
  font-size: 13px;
  font-weight: 700;
  color: rgba(3, 47, 151, 0.85);
}
.header-logo{
    width: 50px;
    height: auto;
}

.user-header{
    color: #ffffff;
    position: relative;
    width: 100%;
    height: auto;
}

.header-company-name{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  padding: 10px;
  height: 16px;
  font-weight: 500;
  line-height: 5.02;
  font-family: Roboto;
}

.user-image{
    width: 40px;
    height: auto;
  opacity: 0.5;
}

div.user-details-header{
  margin-top: -60px;
    right: 2px;
    /* margin-left: 100%; */
    position: absolute;
}

.deleteIcon{
    color: white;
    font-size: 1.2em;
    /* margin: 0 atuo; */
    /* padding: 0; */
}

.deleteButton{
    background-color: red;
    border: none;
    border-radius: 20%;
}

.saveButton{
    justify-content: center;
    vertical-align: middle;
    padding: 10px;
    margin-left: 25%;
    /* margin: 30px; */
}

.lblcompanyName, .lblagentName, .lbldate ,.lbllanguage{
  font-weight: 500;
  line-height: 3.17;
  font-size: 15px;
  color: #032f97;
}

.add_button {
  margin-left: 10px;
  border-radius: 14px;
  background-color: #ffffff;
  color: #2bb6c9;
  font-size: 14px;
  border-color: #2bb6c9;
}
