<!DOCTYPE html>
<html lang="en">
<head>
    <title style="color:black">CINE AGENTS' ASSOCIATION</title>
</head>
<body>
    <div class = "row">
      <div class = "row">
        <!--<img src="../assets/junior-artist-bill/forma-1@3x.png" style="align:center; margin-top: 60px; background-color: #032c90">-->
        <h1 style="color:#ed452d; text-align: center">CINE AGENTS' ASSOCIATION</h1>
        <p style = "color: #ed452d; text-align: center">
          ( FOR CINE HUNIOR ARTISTS )<br>
          103/2, Rajangam Central Street, Kumaran Colony,<br>
          Vadapalani, Chennai-600 026.<br>
          Phone: 32907066, 23623090
        </p>
        <p style="color:#ed452d; text-align: center">
          ( Affiliated to FEFSI )
        </p>
        <h4 style="color:#ed452d; text-align: center; text-decoration: underline" >JUNIOR ARTISTS BILL</h4>
      </div>
      <br>
      <div class = "CompanyName_AgentName" style="margin-left: 25px; margin-right: 0px; ">
        <div class = "row" style="color:#ed452d">
          Company Name &nbsp; &nbsp; <input type="text" style="border: 0px; border-bottom: 1px solid black; background: transparent;outline :0; font-size: 14px; width: 500px">
        </div>
        <br>
        <div class = "row" style="color:#ed452d; align-content: center">
          Agent Name &nbsp; &nbsp; <input type="text" style="border: 0px; border-bottom: 1px solid black; background: transparent;outline :0; font-size: 14px; width: 300px"> &nbsp; &nbsp;
          Language &nbsp; &nbsp; <input type="text" style="border: 0px; border-bottom: 1px solid black; background: transparent;outline :0; font-size: 14px; margin-right: 0px;">
        </div>
      </div>
    </div>
</body>
</html>
